/* =========================
   1. RESET E VARIÁVEIS
========================= */

@charset "UTF-8";
:root {

    /* Fundos */
    --background-primary: #050A14;      /* Body */
    --background-secondary: #0A1B3D;    /* Header, cards e seções */

    /* Marca */
    --primary-color: #00C8FF;           /* Azul Neon */
    --secondary-color: #2196F3;         /* Azul Médio */

    /* Textos */
    --text-primary: #FFFFFF;
    --text-secondary: #D9D9D9;

    /* Header */
    --header-bg: #0A1B3D;

    /* Botões */
    --button-primary: #00C8FF;
    --button-secondary: #2196F3;

    /* Hover */
    --hover-color: #00C8FF;

     /* Fontes */
    --font-title: 'Montserrat', sans-serif;  /* Títulos */
    --font-menu: 'Poppins', sans-serif;     /* Menu e Botões */
    --font-text: 'Inter', sans-serif;     /* Textos, artigos e descrições */

      /* Bordas */
    --border-color:#1A335F;

    /* Cards */
    --card-bg:#09182E;

    /* Sombras */
    --shadow:0 10px 30px rgba(0,0,0,.35);

    /* Radius */
    --radius:14px;

    /* Transições */
    --transition:.3s ease;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-text);
    background-color: var(--background-primary);
    color: var(--text-primary);
}


/* =========================
   2. HEADER / NAVBAR
========================= */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

    height: 90px;
    padding: 0 40px;

    background-color: transparent;
}

.logo img{
    width: 250px;
    height: auto;
    display: block;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 0px;
}

.menu a{
    position: relative;

    text-decoration: none;
    color: var(--text-primary);

    font-family: var(--font-menu);
    font-size: 14px;
    font-weight: 600;

    transition: .3s;
}

.menu a:hover{
    color: var(--primary-color);
}


/* =========================
   3. HERO SECTION
========================= */

.hero{

    max-width: 820px;
    margin: 0 auto;
    padding: 60px 25px;

    background:
        linear-gradient(
        180deg,
        rgba(0,200,255,.10),
        transparent 70%);
}

h1{
    font-family: var(--font-title);
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--text-primary);
    text-align: center;
    margin-bottom: 25px;
}

h2{
    font-family:var(--font-title);
    font-size:2rem;
    margin-bottom:20px;
    margin-top: 20px;
}

h3{
    font-family:var(--font-title);
    font-size:1.4rem;
    margin-top:20px;
    margin-bottom:15px;
}

p{
    margin-top: 8px;
    font-size: 1.1rem;
    
    line-height:1.8;
    color:var(--text-secondary);
}


.lista{
    
    list-style:none;
    margin-left: 25px;
    margin-bottom: 10px;

    
    
}


pre{
    background-color: #081426;
    border: 1px solid #163A70;
    border-left: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    overflow-x: auto;
}

pre code{
    background: transparent;
    color: var(--text-primary);
    padding: 0;
    font-size: 0.95rem;
    line-height: 1.7;
    font-family: Consolas, "Courier New", monospace;
}


























.footer{
    text-align: center;

    padding: 25px 20px;

    border-top: 1px solid rgba(255,255,255,.08);

    
   margin-top: 10px;

    
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-bottom: 15px;
}

.footer-social a{
    color: var(--text-secondary);

    font-size: 1.3rem;

    transition: .3s;
}

.footer-social a:hover{
    color: var(--primary-color);
}

.footer p{
    color: var(--text-secondary);

    font-size: .9rem;
}


















