/* =========================
   1. RESET E VARIÁVEIS
========================= */

@charset "UTF-8";
:root {

    /* Fundos */
    --background-primary: #050A14;      /* Body */
    --background-secondary: #0A1B3D;    /* Header, cards e seções */

    /* Marca */
    --primary-color: #00C8FF;           /* Azul Neon */
    --secondary-color: #2196F3;         /* Azul Médio */

    /* Textos */
    --text-primary: #FFFFFF;
    --text-secondary: #D9D9D9;

    /* Header */
    --header-bg: #0A1B3D;

    /* Botões */
    --button-primary: #00C8FF;
    --button-secondary: #2196F3;

    /* Hover */
    --hover-color: #00C8FF;

     /* Fontes */
    --font-title: 'Montserrat', sans-serif;  /* Títulos */
    --font-menu: 'Poppins', sans-serif;     /* Menu e Botões */
    --font-text: 'Inter', sans-serif;     /* Textos, artigos e descrições */

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-text);
    background-color: var(--background-primary);
    color: var(--text-primary);
}



/* =========================
   BARRA DE PESQUISA
========================= */


/* O header precisa ser referência
   para a posição da barra */
.hero-wrapper{
    position: relative;
}


/* Barra fechada */
.buscar-box{

    /* Posicionamento sobre o header */
    position: absolute;

    top: 20px;
    right: 20px;


    /* Estado inicial: escondida */
    width: 0;
    height: 55px;


    /* Aparência */
    background: #fff;
    border-radius: 10px;


    /* Organização interna */
    display: flex;
    align-items: center;


    /* Esconde o conteúdo quando fechada */
    overflow: hidden;


    /* Animação ao abrir */
    transition: .4s ease;


    /* Fica acima dos outros elementos */
    z-index: 999;

}



/* Barra aberta */
.buscar-box.ativar{

    width: 450px;

}



/* Área onde fica o input */
.input-buscar{

    flex: 1;
    height: 100%;

}



/* Campo de texto */
.input-buscar input{

    width: 100%;
    height: 55px;


    border: none;
    outline: none;


    padding: 0 20px;


    font-size: 16px;

}



/* Botão fechar X */
.btn-fechar{

    width: 55px;
    height: 55px;


    display: flex;

    align-items: center;
    justify-content: center;


    cursor: pointer;

}



/* Ícone X */
.btn-fechar i{

    color: #222;

    font-size: 22px;

}



/* =========================
   ESCONDER MENU AO PESQUISAR
========================= */


/* Apenas os links desaparecem,
   a logo continua */
.menu.esconder{

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

}



body.dark{
    --background-primary: #FFFFFF;
    --background-secondary: #F5F5F5;

    --text-primary: #050A14;
    --text-secondary: #444444;

    --header-bg: #FFFFFF;

    --primary-color: #0077CC;
    --secondary-color: #2196F3;
}

.logo-light{
    display: none !important;
}

body.dark .logo-dark{
    display: none !important;
}

body.dark .logo-light{
    display: block !important;
}


/* =========================
   2. HEADER / NAVBAR
========================= */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    margin: 0 auto;

    height: 90px;
    padding: 0 40px;

    background-color: transparent;
}


.logo img{
    width: 200px;
    height: auto;
    display: block;
}

.start-hero{
    position: relative;
    overflow: hidden;
}

.start-content,
.start-image{
    position: relative;
    z-index: 1;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;

    margin-left: 110px;
}

.menu a{
    position: relative;

    text-decoration: none;
    color: var(--text-primary);

    font-family: var(--font-menu);
    font-size: 14px;
    font-weight: 600;

    transition: .3s;
}

.menu a:hover{
    color: var(--primary-color);
}

.menu a.active::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: -8px;

    width: 100%;
    height: 2px;

    background-color: var(--primary-color);
    transition: 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

.menu a.active::after{
    width: 100%;
}


.header-actions{
    display: flex;
    gap: 10px;
}

.header-actions button{
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 10px;

    background-color: rgba(255,255,255,.05);

    color: var(--text-primary);

    cursor: pointer;
    transition: .3s;
}

.header-actions button:hover{
    background-color: var(--primary-color);
}


/* =================================
   HERO - COMECE POR AQUI
================================= */

.start-hero{
    position: relative;
    overflow: hidden;

    max-width: 1400px;
    margin: 0 auto;

    padding: 60px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgba(255,255,255,.05);
    border-bottom: 1px solid rgba(255,255,255,.05);

    background: linear-gradient(
        to bottom,
        rgba(16,49,114,.20),
        transparent
    );

    background: linear-gradient(
        to right,
        rgba(5,10,20,.90) 0%,
        rgba(5,10,20,.75) 35%,
        rgba(5,10,20,.45) 60%,
        transparent 100%
    );
}

/* camada de escurecimento só no lado esquerdo */
.start-hero::after{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(5,10,20,1) 0%,
        rgba(5,10,20,.95) 30%,
        rgba(5,10,20,.85) 50%,
        rgba(5,10,20,.60) 70%,
        rgba(5,10,20,.30) 85%,
        transparent 100%
    );

    z-index: 0;
}

.start-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-image::before{
    content: "";
    position: absolute;
    inset: 0;


    width: 150%;
    height: 150%;

    top: -25%;
    left: -35%;

    background-image:

    /* Esquerda escura */
    linear-gradient(
        to right,
        rgba(5,10,20,1) 0%,
        rgba(5,10,20,.95) 25%,
        rgba(5,10,20,.70) 45%,
        transparent 70%
    ),

    /* Direita */
    linear-gradient(
        to left,
        rgba(5,10,20,.50) 0%,
        transparent 30%
    ),

    /* Baixo */
    linear-gradient(
        to top,
        rgba(5,10,20,.90) 0%,
        transparent 35%
    ),

    /* Topo */
    linear-gradient(
        to bottom,
        rgba(5,10,20,.60) 0%,
        transparent 25%
    );

    background-image: url("fundo/fundo0.jpg");
    background-size: cover;
    background-position: center;

    opacity: .25;

    z-index: -2;


.start-image::before{
    content: "";
    position: absolute;

    width: 140%;
    height: 140%;

    top: -20%;
    left: -40%;

    background-image: url("fundo/fundo0.jpg");
    background-size: cover;
    background-position: center;

    opacity: .25;

    z-index: -1;
}


}


.start-image img{
    width: 180%;
    height: 180%;

    position: relative;

    right: 0;
    top: -30px;
}


.start-image{
    display: flex;
    justify-content: center;
    align-items: center;
}



.start-content{
    position: relative;
    z-index: 2;
}

.start-content::before{
    content: "";
    position: absolute;

    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;

    background: rgba(5,10,20,0.75);

    filter: blur(60px);

    z-index: -1;
}


.start-content{
    max-width: 600px;
}

.breadcrumb{
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 30px;
}

.breadcrumb a{
    color: #7c5cff;
    text-decoration: none;
}

.breadcrumb span{
    color: var(--text-secondary);
}

.breadcrumb p{
    color: var(--text-secondary);
}

/* Título */

.start-content h1{
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 800;

    margin-bottom: 25px;
}

.start-content h1 span{
    color: #5b8cff;
}

/* Texto */

.start-content > p{
    color: var(--text-secondary);

    font-size: 1.2rem;
    line-height: 1.8;

    margin-bottom: 35px;
}

/* Caixa informativa */

.info-box{
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 25px;

    border-radius: 16px;

    background: rgba(255,255,255,.03);

    border: 1px solid rgba(255,255,255,.08);
}

.info-icon{
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: linear-gradient(
        135deg,
        #7c5cff,
        #5b8cff
    );

    color: white;
    font-size: 1.4rem;
}

.info-box h3{
    margin-bottom: 8px;
}

.info-box p{
    color: #7c5cff;
}

/* Imagem */

.start-image img{
    width: 600px;
    max-width: 100%;
    display: block;
}


/* =================================
   ÁREA DOS CARDS
================================= */

.guide-section{
    max-width: 1400px;
    margin: 0 auto;

    padding: 20px 40px 60px;

    display: flex;
    gap: 40px;
}

.guide-left{
    flex: 1;

    display: grid;
   grid-template-columns: repeat(6, 1fr);

    gap: 20px;
}

.guide-card{
    background: linear-gradient(
        180deg,
        rgba(255,255,255,.04),
        rgba(255,255,255,.02)
    );

    border: 1px solid rgba(255,255,255,.08);

    border-radius: 16px;

    padding: 30px;

    transition: .3s;
}

.guide-card:hover{
    transform: translateY(-5px);

    border-color: rgba(0,200,255,.3);

    box-shadow: 0 0 20px rgba(0,200,255,.12);
}

.card-icon{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #7c5cff,
        #5b8cff
    );

    color: white;

    font-size: 1.4rem;

    margin-bottom: 20px;
}

.guide-card h3{
    margin-bottom: 15px;
}

.guide-card p{
    color: var(--text-secondary);

    line-height: 1.8;

    margin-bottom: 20px;
}

.guide-card a{
    color: #7c5cff;
    text-decoration: none;
}

/* Card frase */

.quote-card{
    grid-column: span 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;

    border-radius: 16px;

    background: linear-gradient(
        90deg,
        rgba(124,92,255,.15),
        rgba(91,140,255,.15)
    );

    border: 1px solid rgba(255,255,255,.08);
}

.btn-evolution{
    padding: 14px 24px;

    border-radius: 10px;

    text-decoration: none;
    color: white;

    background: linear-gradient(
        90deg,
        #7c5cff,
        #5b8cff
    );
}


/* =================================
   ROADMAP LATERAL
================================= */

.guide-roadmap{
    width: 350px;

    padding: 30px;

    border-radius: 16px;

    background: rgba(255,255,255,.03);

    border: 1px solid rgba(255,255,255,.08);
}

.guide-roadmap h2{
    margin-bottom: 10px;
}

.guide-roadmap p{
    color: var(--text-secondary);

    margin-bottom: 30px;
}

.guide-roadmap ul{
    list-style: none;
}

.guide-roadmap li{
    padding: 15px 0;

    border-bottom: 1px solid rgba(255,255,255,.06);
}

.guide-roadmap a{
    display: inline-block;

    margin-top: 25px;

    color: #7c5cff;
    text-decoration: none;
}

.guide-card a{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 25px;

    padding: 12px 22px;

    border: 1px solid #5b45ff;
    border-radius: 8px;

    color: #7c5cff;
    text-decoration: none;

    transition: .3s;
}

.guide-card a:hover{
    background: rgba(124,92,255,.12);

    border-color: #7c5cff;
}

.card-icon{
    width: 58px;
    height: 58px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        135deg,
        #7c5cff,
        #4f46e5
    );

    color: white;

    font-size: 1.3rem;

    margin-bottom: 25px;
}

.guide-left{
    flex: 1;

    display: grid;

    grid-template-columns: repeat(6, 1fr);

    gap: 20px;
}

.quote-card{
    grid-column: span 3;

    min-height: 110px;

    grid-column: 1 / -1;

    
}


/* Primeira linha */
.guide-card:nth-child(1){
    grid-column: span 2;
}

.guide-card:nth-child(2){
    grid-column: span 2;
}

.guide-card:nth-child(3){
    grid-column: span 2;
}

/* Segunda linha */
.guide-card:nth-child(4){
    grid-column: span 3;
}

.guide-card:nth-child(5){
    grid-column: span 3;
}



.guide-card{
    display: flex;
    flex-direction: column;
}

.guide-card a{
    margin-top: auto;
}

.guide-card a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    padding: 14px 28px;

    border: 1px solid #5b45ff;

    border-radius: 8px;

    color: #7c5cff;
    text-decoration: none;

    margin-top: auto;
}

.roadmap-list{
    list-style: none;
}

.roadmap-list li{
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 15px 0;

    border-bottom: 1px solid rgba(255,255,255,.08);

    color: var(--text-primary);
}

.roadmap-list li i{
    color: #00e676;
    font-size: 1.1rem;
}





.footer{
    text-align: center;

    padding: 25px 20px;

    border-top: 1px solid rgba(255,255,255,.08);

    
   margin-top: 10px;

    
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-bottom: 15px;
}

.footer-social a{
    color: var(--text-secondary);

    font-size: 1.3rem;

    transition: .3s;
}

.footer-social a:hover{
    color: var(--primary-color);
}

.footer p{
    color: var(--text-secondary);

    font-size: .9rem;
}






@media (max-width: 1024px){

    html,
    body{
        overflow-x: hidden;
    }

    .start-hero{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .start-content{
        max-width: 100%;
    }

    .start-content h1{
        font-size: 3rem;
    }

    .guide-section{
        flex-direction: column;
    }

    .guide-roadmap{
        width: 100%;
    }

    .guide-left{
        grid-template-columns: repeat(2, 1fr);
    }

    .guide-card:nth-child(1),
    .guide-card:nth-child(2),
    .guide-card:nth-child(3),
    .guide-card:nth-child(4),
    .guide-card:nth-child(5){
        grid-column: span 1;
    }


    .quote-card{
        grid-column: 1 / -1;
    }

        /* =========================
       BARRA DE PESQUISA TABLET
    ========================= */

    .buscar-box.ativar{

        width: 380px;

    }
}





@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    
    .logo img{
        width: 160px;
    }

     .menu{
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }


    .menu a{
        font-size: 13px;
    }

    .start-hero{
        padding: 40px 20px;
    }

    .start-content h1{
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .start-content > p{
        font-size: 1rem;
    }

    .start-image img{
        width: 100%;
        max-width: 320px;
    }

    .info-box{
        flex-direction: column;
        text-align: center;
    }

    .guide-section{
        padding: 20px;
    }

    .guide-left{
        display: grid;
        grid-template-columns: 1fr;
    }

    .guide-card,
    .quote-card{
        grid-column: auto !important;
    }

    .quote-card{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .guide-roadmap{
        width: 100%;
        padding: 20px;
    }

        /* =========================
       BARRA DE PESQUISA MOBILE
    ========================= */

    .buscar-box{

        top: 130px;
        right: 20px;

    }


    .buscar-box.ativar{

        width: calc(100vw - 40px);

    }
}



@media (max-width: 480px){

    .logo img{
        width: 150px;
    }

    .start-content h1{
        font-size: 1.8rem;
    }

    .breadcrumb{
        flex-wrap: wrap;
    }

    .info-icon{
        width: 50px;
        height: 50px;
    }

    .guide-card{
        padding: 20px;
    }

    .guide-roadmap{
        padding: 15px;
    }

    .footer-social{
        gap: 15px;
    }


     .start-hero{
        padding: 30px 15px;
    }

    .start-content h1{
        font-size: 1.8rem;
    }

        /* =========================
       BARRA DE PESQUISA MOBILE PEQUENO
    ========================= */

    .buscar-box{

        top: 120px;
        right: 10px;

        height: 50px;

    }


    .buscar-box.ativar{

        width: calc(100vw - 20px);

    }


    .input-buscar input{

        height: 50px;
        font-size: 14px;

    }


    .btn-fechar{

        width: 50px;
        height: 50px;

    }


    .btn-fechar i{

        font-size: 18px;

    }
}